@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap");

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #64788c;
    font-family: Open Sans;
}

:root {
    --nav-height: 75px;
    --cyan: #45cde0;
    --blue: #195afd;
    --section-padding-top: 100px;
}

nav#header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #092540;
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    padding-left: 15px;
    z-index: 101;
}

nav#sidebar {
    position: fixed;
    justify-content: center;
    top: var(--nav-height);
    left: 0;
    height: 100%;
    width: 110px;
    display: flex;
    background: white;
    z-index: 99;
}

nav#sidebar .active {
    color: #64788c !important;
}

nav#sidebar ul {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

nav#sidebar ul li {
    text-align: center;
    cursor: pointer;
    padding-bottom: 35px;
}

nav#sidebar ul li p,
nav#sidebar ul li .icon {
    color: #c8d5e2;
}

nav#sidebar ul li .icon {
    font-size: 1.5rem;
}

nav#sidebar ul li p {
    font-size: 0.9rem;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: white;
    padding: 10px;
    font-size: 0.8rem;
}

.psalogo {
    width: 300px;
}

main {
    background: #edf2fb;
}

section,
footer {
    height: 100vh;
    padding-left: 210px;
    padding-right: 120px;
}

footer {
    padding-top: 150px;
    background-color: #092540;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

footer .title {
    color: white;
    font-weight: bold;
}

footer .icon-container {
    display: flex;
    margin: 10px 0;
}

footer .icon-container .icon {
    font-size: 1.5rem;
    margin-right: 10px;
}

footer button {
    padding: 10px 25px;
    border-radius: 10px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--blue);
    font-weight: bold;
    margin-top: 20px;
}
